<h2 class="page-header">Register</h2>

<form class="example-form" (submit) = "onRegisterSubmit()">
  <md-form-field class="example-full-width">
    <input mdInput [(ngModel)]="name" name="name" placeholder="name" [formControl] = "nameFormControl">
  </md-form-field>
  <md-form-field class="example-full-width">
    <input mdInput [(ngModel)]="username" name="username" placeholder="username" [formControl] = "usernameFormControl">
  </md-form-field>
  <md-form-field class="example-full-width">
    <input mdInput [(ngModel)]="email" name="email" placeholder="Email" [formControl]="emailFormControl">
    <md-error *ngIf="emailFormControl.hasError('pattern')">
      Please enter a valid email address
    </md-error>
    <md-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </md-error>
  </md-form-field>
  <md-form-field class="example-full-width">
    <input type="password" [(ngModel)]="password" name="password" mdInput placeholder="password" >
  </md-form-field>
  <button type="submit" [disabled]="!emailFormControl.valid" md-raised-button>Submit</button>
</form>
